@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #fbf7f4;
  }

  .button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .social-networks-button {
    color: #000000;
    background-color: #ffffff;
  }

  .navigation-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

  .search-hotel-button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button-light {
    color: #242424;
    background-color: #ffffff;
  }

  .product-card-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-transform: uppercase;
  }

  .product-card-favorites-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .product-card-added-favorites-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #7DB54F;
    text-decoration: none;
    text-transform: uppercase;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
   }

  .page-header-logo {
    display: block;
  }

  .navigation-list {
    width: 500px;
    margin: 0;
    padding: 0;
  }

  .navigation-user {
    max-width: 305px;
    margin-left: auto;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
  }

  .main-container {
    flex-grow: 1;
  }

  .main-index {
    color: #000000;
    background-color: #ffffff;
  }

  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
  }

  .main-inner {
    color: #242424;
    background-color: #fbf7f4;

  }

  .inner-header {
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  .advantages-all-list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .advantages-all-item {
    color: #000000;
    background-color: #ffffff;
  }

  .advantages-all-item-town {
    color: #ffffff;
    background-color: #82B3D3;
  }

  .advantages-all-item-bridge {
    color: #ffffff;
    background-color: #82B3D3;
  }

  .advantages-all-item-area {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-all-item-road {
    background-color: rgba(131, 179, 211, 0.2);
  }

  .advantages-all-item-tourists {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
  }

  .advantages-item-housing {
    background-color: #f0f6fa;
  }

  .advantages-item-souvenir {
    background-color: #f0f6fa;
  }

  .newsletter {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
  }

  .page-footer {
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
  }

  .page-footer a {
    color: #000000;
  }

  .page-footer-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-social {
    width: 160px;
    margin-right: 42px;
  }

  .footer-contacts {
    margin-left: auto;
    max-width: 835px;
  }

  .footer-contacts-phone {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
  }

  .inner-header-title {
    font-size: 60px;
    line-height: 78px;
  }

  .breadcrumbs {
    color: #ffffff;
  }

  .breadcrumbs-link {
    color: inherit;
  }

  .catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
  }

  .control-label {
    font-weight: 400;
  }

  .sorting-container {
    color: #ffffff;
    background-color: #000000;
  }

  .product-card {
    background-color: #ffffff;
  }

  .product-card-link {
    text-decoration: none;
  }

  .product-card-title {
    font-weight: 700;
    color: #242424;
  }

  .product-card-hotel {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
  }

  .product-card-price {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
  }

  .pagination {
    background-color: #ffffff;
  }

  .pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .pagination-link {
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    line-height: 36px;
    font-weight: 700;
  }

  .pagination-current {
    color: #242424;
    background-color: #ffffff;
  }

  .hotel-sorting {
    color: #ffffff;
    background-color: #000000;
  }
